.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include mobile {
    width: 480px;
  }

  @include tablet {
    width: 768px;
  }

  @include desktop {
    width: 1200px;
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    margin-bottom: 50px;

    font-size: 36px;
  }
}

.link {
  text-decoration: none;
  cursor: pointer;

  transition: color var(--hft);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.button {
  cursor: pointer;

  transition: background var(--hft), color var(--hft), box-shadow var(--hft);

  &:hover,
  &:focus {
    background: var(--accent-color);
    color: var(--bright-text-color);
  }
}

.socials {
  @extend %centered-flex;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: block;
  padding: 12px;
  width: 100%;
  height: 100%;

  border-radius: 50%;

  transition: background-color var(--hft);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border-radius: 50%;
  }
}

.socials__icon {
  fill: var(--primary-icon-color);

  .socials__link:hover &,
  .socials__link:focus & {
    fill: var(--bright-text-color);
  }
}
