.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  flex-basis: 100%;

  @include tablet {
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.features__icon-bg {
  @extend%centered-flex;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-card-bg-color);
}

.features__label {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: var(--primary-text-size);
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  @include tablet{
    text-align: left;
  }
}

.features__definition {
  font-size: var(--primary-text-size);
  line-height: 1.71;
  color: var(--secondary-text-color);
}
