.page-header {
  // position: relative;
  // overflow: hidden;

  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--secondary-border-color);

  @include tablet{
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @include desktop{
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header__wrap {
  @extend%centered-flex;
  justify-content: flex-start;
}

.logo {
  margin-right: auto;

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;
  color: var(--dark-text-color);
  text-decoration: none;
  cursor: pointer;

  &__part {
    color: var(--accent-color);
  }
  
  @include desktop{
    font-size: 26px;
    margin-right: 93px;
  }
}

.page-nav {
  margin-right: auto;
  display: none;
  @include tablet{
    display: block;
  }
}

.page-nav__list {
  display: flex;
  gap: 50px;
}

.page-nav__link {
  font-weight: 500;
  font-size: var(--primary-text-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  &--current {
    position: relative;

    font-weight: 500;
    font-size: var(--primary-text-size);
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: var(--accent-color);
  
    &::after{
      content: "";
    
      position: absolute;
      bottom: -33px;
    
      display: block;
      width: 100%;
      height: 4px;
    
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}

.page-header__contact-list {
  display: none;

  @include tablet{
    display: block;
  }
  @include desktop{
    display: flex;
  }
}

.page-header__contact-item:not(:last-child) {
  @include tablet-only{
    margin-bottom: 10px;
  }
  @include desktop{
    margin-right: 50px;
  }
}

.page-header__contact-link {
  @extend%centered-flex;
  justify-content: flex-start;
  gap: 10px;
  
  font-weight: 500;
  font-style: normal;
  font-size: var(--primary-text-size);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.page-header__contact-icon {
  fill: var(--secondary-icon-color);
  @include transition(fill);

  .link:hover &,
  .link:focus &{
    fill: var(--accent-color);
  }
}

.page-header__mobile-menu-open{
  color: #000000;
  background: transparent;
  border: none;
  width: 40px;
  height: 40px;
  
  @include tablet{
    display: none;
  }
}

.mobile-menu-open{
  fill: currentColor;

  .page-header__mobile-menu-open:hover &,
  .page-header__mobile-menu-open:focus &{
    fill: var(--accent-color);
  }
}


