.team {
  background: var(--third-section-bg-color);
}

.team__list {
  @extend%centered-flex;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 30px;
}

.team__member {
  flex-basis: 100%;

  background: var(--primary-card-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @include tablet{
    flex-basis: calc((100% - 30px) / 2);
  }

  @include desktop{
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__member-wrap {
  padding: 30px 0px;
}

.team__member-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: var(--secondary-text-size);
  line-height: 1.19;
  text-align: center;
}

.team__member-specialization {
  margin-bottom: 16px;

  font-size: var(--secondary-text-size);
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}


